

h1 {

	font-weight:bold;
	letter-spacing:-0.03em;
	text-align: center;
	font-size: 35px;
}
h2 {
	text-align: center;
	font-size: 15px;
}
p {
	margin-bottom: 1.61em;
	text-align: center;
}

body 
{
	width:100%;
	margin:0px;
	
}
.page
{
	width:100%;
	background-attachment:scroll;
	background-image:url('../img/bg1.jpg');
	background-repeat:no-repeat;
	height: auto;
}
/*providing Pre loader animation*/

.pr1
	{
		position:fixed;
		z-index:20;
		visibility:visible;
	}
	img.pr1 
	{
		height:0px;
		animation:preloader 4s;
		animation-delay: -0.07s;
		-webkit-animation:preloader 4s;
		-webkit-animation-delay: -0.07s;
	}
	.pr2
	{
		position:fixed;
		z-index:20;
		visibility:visible;
		bottom:0;
	}
	img.pr2
	{
		animation:preloader2 4s;
		animation-delay: -0.07s;
		-webkit-animation:preloader2 4s;
		-webkit-animation-delay: -0.07s;
	}
	.pr3
	{
		position:fixed;
		z-index:40;
		margin-left:-20%;
		margin-top:300px;
		visibility:hidden;
	}
	img.pr3
	 {
		animation:anim 4s;
		animation-delay: -0.07s;
		-webkit-animation:anim 4s;
		-webkit-animation-delay: -0.08s;
	}
	@keyframes preloader
	{

				0% {height:0%; margin-left:0%; }        
				20% {height:100%; margin-left:0%; }
				80% {height:100%; margin-left:0%; }
				100% {height:100%; margin-left:-50%; }
	}

       @-webkit-keyframes preloader{

               0% {height:0%; margin-left:0%; }

               20% {height:100%; margin-left:0%; }

               80% {height:100%; margin-left:0%; }

               100% {height:100%; margin-left:-50%; }

               }

               

               @keyframes preloader2{

                       0% {height:0px;  margin-left:50%; }

               20% {height:100%;  margin-left:50%; }

               80% {height:100%;  margin-left:50%; }

               100% {height:100%; margin-left:100%; }

               }

               

               @-webkit-keyframes preloader2{

               0% {height:0px;  margin-left:50%; }

               20% {height:100%;  margin-left:50%; }

               80% {height:100%;  margin-left:50%; }

               100% {height:100%; margin-left:100%; }

               }

               

       @keyframes anim{

               0% {opacity:0; visibility:hidden;}

               20% {opacity:0;  visibility:hidden;}

               40% {opacity:0.7; visibility:visible;}

               60% {opacity:0.7; visibility:visible;}

               80% {opacity:0; visibility:hidden;}

               100% {opacity:0; visibility:hidden;}

               }

       @-webkit-keyframes anim{

               0% {opacity:0;  visibility:visible;}

               20% {opacity:0; visibility:visible;}

               40% {opacity:0.7; visibility:visible;}

               60% {opacity:0.7; visibility:visible;}

               80% {opacity:0;  visibility:hidden;}

               100% {opacity:0; visibility:hidden;}

               }

/*providing space for header width=100% and height=200px*/
.header
{	
	width:100%;
	height:150px;
	vertical-align:top;
}
/*providing space for footer width=100% and height=200px*/
.footer
{
	background-color:#59ABD3;
	width:100%;
	height:80px;
}
/* Bottom Menu */
.footer div#bottomMenu 
{
   text-align: center;
   width: 1200px;
   position:relative;
   border: 0px solid #ffcf00;
   font-size: 13px;
   margin-bottom: 50px;
}
.footer div#bottomMenu ul {
   padding: 5px 0px 0px 0px;
   margin: 0;
   height: 27px;
   border: 0px solid #ffcf00;
}
.footer div#bottomMenu li {
   display:inline-block;
   text-decoration:none;
  
}
.footer div#bottomMenu a {
  background-color:silver;
 	display:inline-block;
	float: left;
	height: 20px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	width:100px;
 	color:			#13a;
 	border-left:	0px solid #fff;
	border-top:		1px solid #CFDEFF;
	white-space:normal;
 	text-align:center;

}
.footer div#bottomMenu #copyright {
   margin: 0;
   padding: 0;
   text-align: center;
   color:black;
   font-size: 18px;
   font-weight: bold;
   border: 0px solid #ff0000;
}
/*providing space for contents width=100% and height=auto*/
.content
{
	
	height:auto;
	width:100%;
}
.pad
	{
		padding-left:10%;
		padding-right:10%;
	}
/* The MotionCAPTCHA canvas shares some styles in this demo with the form's input fields */
/* These aren't essential but look cool */
/* The plugin's essential CSS styles (width/height and shape-classes) are defined in motionCaptcha.css */
input[type="text"],input[type="email"],input[type="password"],
textarea {
	font-family:"Lucida Grande", sans-serif;
	font-size: 13px;
	font-weight: bold;
	display: block;
	border: 0;
	outline:0;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 1px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 1px 1px rgba(0,0,0,0.3);
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 1px 1px rgba(0,0,0,0.3);
	padding: 9px 12px;
	margin:0 0 20px;
}
input[type="radio"]
{
	width:40px;
	padding: 9px 12px;
	margin:0 0 20px;
}
/* Some differences specific to textey inputs (not submit button) */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	color: #777;
	width: 422px;
	background:#fff;
}
/* Texties get a red highlight when invalid */
input:invalid, textarea:invalid {
   -moz-box-shadow: 0 0 0 4px rgba(255,0,0,0.3);
-webkit-box-shadow: 0 0 0 4px rgba(255,0,0,0.3);
        box-shadow: 0 0 0 4px rgba(255,0,0,0.3);
}

/* MotionCAPTCHA canvas */
#mc-canvas {
	margin:0 auto 10px;
	padding:1px;
	display: block;
	border: 1px solid #433e45;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
/* Red border when invalid */
#mc-canvas.mc-invalid {
	border: 4px solid #aa4444;
}
/* Green border when valid */
#mc-canvas.mc-valid {
	border: 4px solid #44aa44;
}

/* The submit button */
input[type="submit"] {
	border: 0;
	font-family:"Lucida Grande", sans-serif;
	font-size: 13px;
	
	width: 85px;
	height: 28px;
	color: #5d7731;
	display:inline-block;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	background: #b6d76f;
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9dc954));
	background: -moz-linear-gradient(top,  #cae285,  #9dc954);
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	cursor: pointer;
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3), 0 0 5px rgba(255,255,190,0.5);
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3), 0 0 5px rgba(255,255,190,0.5);
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3), 0 0 5px rgba(255,255,190,0.5);
}
input[type="submit"]:active {
	cursor: pointer;
	position: relative;
	top: 1px;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.4);
	background: #9dc954;
	background: -webkit-gradient(linear, left top, left bottom, from(#9dc954), to(#cae285));
	background: -moz-linear-gradient(top,  #9dc954,  #cae285);
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 0 0 transparent, inset 0 0 0 transparent;
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 0 0 transparent, inset 0 0 0 transparent;
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

input[type="submit"]:disabled {
	top:0;
	color: #777;
	display:inline-block;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	background: #bbb;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
	background: -moz-linear-gradient(top,  #ccc,  #bbb);
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
}
 .style6
        {
            font-size: x-large;
            font-weight: bold;
            color: #00FF00;
        }
        .style7
        {
            width: 428px;
           
            background-color:Transparent;
        }
        .style11
        {
    }
        .style12
        {
        }
    .style13
    {
        width: 98px;
    }
    .style14
    {
        width: 71px;
    }
    #headerstrip
{
	
	margin-top:0px;
	
}
#navigation
{
	vertical-align:middle;
	margin-left:35px;
	margin-right:15px;
	float:left;
	margin-top: -2px;
}

table.menu
{
	margin-top:5px;
	position:absolute;
	visibility:hidden;
	box-shadow:0px 1px 5px #CCC;
	-moz-box-shadow:0px 1px 5px #CCC;
	-webkit-box-shadow:0px 1px 5px #CCC;
	border-style:solid;
	border-color:#FFF;
	border-width:thick;
	background-color: #ffffff;
}
 table.menu tr td a
 {
	display:block;
    
    width:100%;
 }
td.menu
{
border: 1px solid #e7e7e7;
}
.contact:link{color: black; text-decoration: none;}
.contact:visited{color: black; text-decoration: none;}
.contact:hover{text-decoration: none;color:white}

#navigation a:link{
	text-decoration:none;
	color: #000;
	text-shadow: 0px 0px 1px #000;}
	
#navigation a:visited{
	text-decoration:none;
	color: #000;
	text-shadow: 0px 0px 1px #000;}

#navigation a:hover{
	text-decoration:none;
	color: #0099c2;
	text-shadow: 0px 0px 1px #0099c2;}

table
{
	border-collapse:collapse;
	position:relative;
}

td.menu{
	text-align:center;
	line-height:30px;
	font-family: 'Avenir';
	padding-left:5px;
	padding-right:5px;
	}

td.menu:hover{
	background-color:#e7e7e7;
	cursor:pointer;
	}	
